.show_data,
.select {
    cursor: pointer;
}

.select_color {
    background-color: #e2dede;
}

.map {
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.map_item {
    padding-top: 18vh;
    font-size: 1.75em;
}


/* * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }
  
  #notfound {
    position: relative;
    height:89vh;
    background:#c9c1ce;
  }
  
  #notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
  }
  
  .notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
  }
  
  .notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
    letter-spacing: -20px;
  }
  
  
  .notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px #8400ff;
    letter-spacing: 13px;
    margin: 0;
  }
  
  .notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #ff005a;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .notfound a:hover {
    color: #8400ff;
  }
  
  @media only screen and (max-width: 767px) {
      .notfound .notfound-404 h2 {
          font-size: 24px;
      }
  }
  
  @media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 182px;
    }
  }
   */

.border1 {
    border: 3px solid #5a5b5d !important;
    /* height: 13.5vh; */
    border-radius: 10px!important;
}

.box {
    background-color: #0f70b7;
    height: 12.8vh;
    margin-left: -15px;
    margin-right: 20px;
    border-radius: 7px 0 0 7px;
}

.leftarea {
    width: 50px;
    background: #0f70b7;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

.rightarea {
    width: calc( 100% - 50px);
    background-color: #e6e6e6;
    border-radius: 7px;
}

.width140 {
    width: 100%;
}

.width180 {
    width: 100%;
}

.common_input {
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 25px;
}

.common_input2 {
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 17px;
}

.city_search {
    right: 15px;
    left: 15px;
    text-align: center;
    color: black;
    font-size: 22px;
    cursor: pointer;
}